{% extends "layout.html" %}

{% block title %}
Delete Tweet
{% endblock %}

{% block content %}
<h1 class="text-center mt-4 text-primary-emphasis">Delete Tweet</h1>

<h3 class="text-center my-3">Are you sure to delete this tweet?</h3>

<form method="post">
    {% csrf_token %}

    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-danger mx-3">Delete</button>
        <a href="{% url "home" %}" class="btn btn-success">Cancle</a>
    </div>
</form>
{% endblock %}