{% extends "layout.html" %}

{% block title %}
Home Page
{% endblock %} 

{% block content %}
<main>
  <h1>Chai aur Django</h1>
  <section>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus magnam
    fugit doloremque tempore natus illum officiis iure neque molestiae ipsam,
    numquam, ut unde nesciunt. Quis maxime pariatur veniam fugiat sunt ex
    quaerat, quod aspernatur, natus laborum voluptas magnam, adipisci aliquid
    hic molestiae tenetur eum? Quos alias consequatur voluptates impedit sit.
  </section>
  <section>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, nobis nisi
    repellat eveniet praesentium facilis harum numquam expedita laudantium
    veritatis earum nemo qui odit, illum, quaerat similique ab suscipit
    doloribus architecto. Voluptates reiciendis veritatis earum quibusdam
    repudiandae tempora cupiditate, error ipsa quasi expedita optio perferendis,
    quas eaque dicta minus aspernatur quos illo ducimus facilis. Totam voluptate
    iusto earum eius quas.
  </section>

  <section>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet sit
    impedit modi necessitatibus dolore maiores quo animi hic placeat
    exercitationem porro ratione, quibusdam dicta dolor inventore minus,
    voluptas vel ab illum ipsum molestias odit ad incidunt! Deserunt tempore
    provident corporis eos quas, maiores sapiente laudantium fugit aperiam autem
    distinctio consectetur soluta facilis quis inventore beatae hic repellendus
    amet excepturi. Soluta consequuntur odio dolorem enim est! Doloremque fugit
    officiis in, libero corporis inventore dolore, maxime sunt sequi praesentium
    consectetur quas tempora tempore eaque cupiditate non dicta? Voluptas
    reprehenderit optio eveniet voluptate in temporibus quisquam ad, possimus ea
    tempore eaque distinctio reiciendis?
  </section>
</main>
{% endblock %}
