{% extends "layout.html" %}

{% block title %}
All Chai Page
{% endblock %} 

{% block content %}
  <main>
    <h1 class="text-center text-3xl font-semibold text-orange-700">All types of chai availble here</h1>

    <div class="my-10 max-w-3xl mx-auto">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, nobis! Optio libero quas blanditiis odio perspiciatis ex nam dolores illo, nisi facere minus odit ea? Vero voluptas error impedit similique.
    </div>

    <div class="my-10 max-w-3xl mx-auto">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa maiores labore, consequuntur non repellat perferendis iste fuga ab aliquid quos temporibus illum quibusdam itaque officia magnam qui! A odio architecto sit, excepturi delectus doloribus debitis non iure unde saepe ut porro aspernatur neque harum earum praesentium inventore laudantium perspiciatis magni!
    </div>
  </main>
{% endblock %}
